/* Better Hotel Room Colours */
$bhr-pink: #c5a5dc;
$bhr-pink-dark: #AD8DC5;
$bhr-light-pink: #ECE1F3;
$bhr-black: #191919;
$bhr-lighterblack: #242424;
$dark-overlay: #262626; /* 63% */
$footer-bg: #282130;
$footer-text: #aeaeae;

$platinum: #c5a5dc;
$gold: #fba50b; 
$silver: #b6b6b6;
$bronze: #ba4c0c;
