* {
  box-sizing: border-box;
}

.politicians {
    padding: 5%;
}

.politicians input[type="text"] {
    border: none;
    background: #FFFFFF;
    box-shadow: none;
    @include font-size(14);
    @include padding(6);
}

.container {
    font-size: 0px;
}

.mix {
    display: none;
    text-align: center;
    width: 23%;
    margin: 1em 1%;
    background-color: #FFFFFF;
    font-size: 16px;
}

.houseofreps {
  color: red;
}

.senate {
  color: orange;
}

.controls button {
    background: #FFFFFF;
    border: none;
    color: #000000;
    display: block;

    @include font-size(14);
    @include padding(6);
    @include margin-all(0,0,0,0);
}

.controls button.active {
    background: blue;
    color: #FFFFFF;
}
