* {
  box-sizing: border-box;
}

.politicians {
    background: #BECDD4;
    padding: 5%;
}

.container {
    font-size: 0px;
}

.mix {
  display: none;
  text-align: center;
  width: 23%;
  margin: 1em 1%;
  background-color: #FFFFFF;
  font-size: 16px;
}

.houseofreps {
  color: red;
}

.senate {
  color: orange;
}

.controls button {
    background: #FFFFFF;
    border: none;
    color: #000000;
    padding: .65em;
    border-radius: 5px;
}

.controls button.active {
    background: blue;
    color: #FFFFFF;
}
